section {
  height: 100vh;
  width: 70vw;
  margin: auto;
  @include flex(space-around, center, row);
  .card1 {
    width: 30rem;
    height: 50rem;
    font-size: 2rem;
    border: 1px black solid;
  }
  .card-embedded {
    width: 90%;
    height: 90%;
    margin: auto;
    @include flex(center, center, row wrap);
    // flex-wrap: wrap;
    background: rgb(26, 133, 195);
    border: 3px black solid;
  }
}

.card1 {
  background-color: brown;
}

.shopByCategory {
  max-height: 45%;
  max-width: 45%;
  margin: auto;
  background-color: honeydew;
  p {
    font-size: 0.8rem;
    // display: inline-block;
    text-align: center;
  }
}

.shopByCategory2 img {
  max-width: 100%;
}
