@mixin flex($justify, $align, $flow) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-flow: $flow;
}

@import "./global";
@import "./header";
@import "./nav";
@import "./main";
