html {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

img {
  max-width: 20rem;
  max-height: 20rem;
  border: 2px solid yellow;
}

main {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly;
}

@media screen and (min-width: 1024px) {
  .picture {
    flex-basis: 30%;
  }
}

@media screen and (max-width: 1023px) {
  .picture {
    flex-basis: 40%;
  }
}

@media screen and (max-width: 767px) {
  .picture {
    flex-basis: 80%;
  }
}
